.App {
  text-align: center;
}

/* .cardbox {
  border-radius: 25px !important;
} */

.iconn {
  color: rgb(47, 161, 255);
  width: 1.5em;
  height: 1.5em;
}

.cardbox:hover {
  border: 1px solid rgb(47, 161, 255);
  /* box-shadow: currentColor; */
  opacity: 0.7;
  /* border-radius: 12px 12px 0px 0px; */

  cursor: pointer;
}

.cardTitle {
  overflow: hidden;
  /* line-height: 22px; */
  line-height: 1.2;
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  /* height: 140px; */
}

.cardText {
  overflow: hidden;
  line-height: 1.5;
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  /* height: 140px; */
} 